<link rel="import" href="../../../components/cells-movements-list-item/cells-movements-list-item.html">
<link rel="import" href="../../../components/cells-modal-alert/cells-modal-alert.html">

<dom-module id="movements-view">

  <template is="dom-bind" id="movements">
    <cells-modal-alert id="dialog" type="error" icon="coronita:alert" content="¿Estás seguro de que deseas dar de baja tu cuenta?" second-button-label="Si, estoy seguro" first-button-label="Mejor no"></cells-modal-alert>
    <cells-atom-subheader heading-level="0">
      <span slot="heading" class="heading">Últimos movimientos</span>
      <div class="nav nav-right">
        <button class$="btn btn-right btn-transparent" on-click="_onCancelClick" data-event="cancel-account-button">
          <iron-icon icon="coronita:close" class="icon-right" aria-label$="[[t(_iconLeftLabel)]]" style$="[[_iconStyle]]"></iron-icon>
          <span>
            Cancelar cuenta
          </span>
        </button>
        <button class$="btn btn-right btn-transparent" on-click="_onOperationsClick">
          <iron-icon icon="coronita:transfer" class="icon-right" aria-label$="[[t(_iconLeftLabel)]]" style$="[[_iconStyle]]"></iron-icon>
          <span>
            Realizar operación
          </span>
        </button>
      </div>
    </cells-atom-subheader>

    <template is="dom-repeat" items="{{movements}}">
      <cells-movements-list-item
        date={{item.date}}
        label={{item.label}}
        description={{item.description}}
        parsed-amount= {{computeAmount(item.amount)}}
        parsed-accounting-balance= {{computeBalance(item.balance)}}
        category="9999"
        category-description="Pendiente de categorizar">
      </cells-movements-list-item>
    </template>
  </template>

  <script>
    {
      class MovementsView extends Polymer.Element {
        static get is() {
          return 'movements-view';
        }

        static get properties() {
          return {
            movements: {
              type: Array,
              notify: true
            }
          };
        }

        _onOperationsClick(e) {
          var productId = this.movements[0].account_id;
          console.log('pulsado boton: ');
          console.log(productId);
          this.dispatchEvent(new CustomEvent('operations-button-pressed', {
            detail: productId
          }));
        }

        _onCancelClick(e) {
          this.$.dialog.open();
        }

        onDialogCancel() {
          this.$.dialog.close();
        }

        onDialogOK() {
          this.$.dialog.close();
          var productId = this.movements[0].account_id;
          console.log('pulsado aceptar borrar cuenta: ');
          console.log(productId);
          this.dispatchEvent(new CustomEvent('cancel-account-ok', {
            detail: productId
          }));
        }

        onRequestOk(data) {
          if (data.length > 0) {
            this.movements = data;
            var tools = [
              {
                iconCode: 'coronita:back',
                id: 'back',
                isActive: true
              },
              {
                iconCode: 'coronita:transfer',
                id: 'Operar',
                isActive: true
              }
            ];
            this.$.toolbar = tools;
          } else {
            this.dispatchEvent(new Event('empty-movements'));
          }
        }

        computeAmount(itemAmount) {
          var parsedAmount = {'value': itemAmount, 'currency': 'EUR'};
          return parsedAmount;
        }
        computeBalance(itemBalance) {
          var parsedBalance = {'value': itemBalance, 'currency': 'EUR'};
          return parsedBalance;
        }
      }
      customElements.define(MovementsView.is, MovementsView);
    }
  </script>
</dom-module>
