<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">

<dom-module id="movements-dm">

  <template>
    <brum-global-variable key="userToken" value="{{userToken}}"></brum-global-variable>

    <cells-generic-dp
      id="movementsDP"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {

      class MovementsDM extends Polymer.Element {
        static get is() {
          return 'movements-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            userToken: {
              type: String,
              notify: true
            },
            accountId: {
              type: String
            }
          };
        }

        _onRequestOk(evt) {
          this.dispatchEvent(new CustomEvent('movements-request-ok', evt));
        }

        _onRequestError(err) {
          console.log(err);
          this.dispatchEvent(new CustomEvent('movements-request-error', err));
        }

        doRequest(account, type = 'movements-request-start') {
          if (account.productId) {
            this.accountId = account.productId;
          }
          this.$.movementsDP.headers = {'x-access-token': this.userToken};
          this.$.movementsDP.host = window.AppConfig.backend;
          this.$.movementsDP.method = 'GET';
          this.$.movementsDP.path = 'my-bank/v1/accounts/' + this.accountId + '/movements';
          this.$.movementsDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }

        doRemove(account, type = 'movements-request-start') {
          if (account.productId) {
            this.accountId = account.productId;
          }
          this.$.movementsDP.headers = {'x-access-token': this.userToken};
          this.$.movementsDP.host = window.AppConfig.backend;
          this.$.movementsDP.path = 'my-bank/v1/accounts/' + this.accountId;
          this.$.movementsDP.method = 'DELETE';
          this.$.movementsDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }
      }

      // Register the custom element with the browser
      customElements.define(MovementsDM.is, MovementsDM);
    }
  </script>
</dom-module>
