<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">

<dom-module id="accounts-dm">

  <template>
    <brum-global-variable key="userToken" value="{{userToken}}"></brum-global-variable>

    <cells-generic-dp
      id="accountsDP"
      host="http://localhost:3000"
      path="my-bank/v1/accounts"
      method="GET"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class AccountsDM extends Polymer.Element {
        static get is() {
          return 'accounts-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            userToken: {
              type: String,
              notify: true
            }
          };
        }

        _onRequestOk(evt) {
          console.log('cuentas recuperadas');
          console.log(evt.detail);
          this.dispatchEvent(new CustomEvent('accounts-request-ok', evt));
        }

        _onRequestError(err) {
          this.dispatchEvent(new CustomEvent('accounts-request-error', err));
        }

        doRequest(path, type = 'accounts-request-start') {
          this.$.accountsDP.headers = {'x-access-token': this.userToken};
          this.$.accountsDP.host = window.AppConfig.backend;
          this.$.accountsDP.method = 'GET';
          this.$.accountsDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }

        newAccountRequest(path, type = 'accounts-request-start') {
          this.$.accountsDP.headers = {'x-access-token': this.userToken};
          this.$.accountsDP.host = window.AppConfig.backend;
          this.$.accountsDP.method = 'POST';
          this.$.accountsDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }
      }

      // Register the custom element with the browser
      customElements.define(AccountsDM.is, AccountsDM);
    }
  </script>
</dom-module>
