<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-input/iron-input.html">
<link rel="import" href="cells-molecule-input-styles.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-label/iron-label.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">

<dom-module id="cells-molecule-input">
  <template>
    <style include="cells-molecule-input-styles cells-molecule-input-shared-styles"></style>

    <div class="field-icons-wrapper">

      <label class="field">
        <iron-input id="ironInput" bind-value="{{value}}" allowed-pattern="[[allowedChars]]" prevent-invalid-input="[[preventInvalidInput]]">
          <input id="input" pattern="[[allowedValue]]" class="field__input" name$="[[name]]" type$="[[type]]" value="{{value::input}}" required$="[[required]]" disabled$="[[disabled]]" autocomplete="off" autocorrect="off" autofocus$="[[autofocus]]" maxlength$="[[maxLength]]" on-focus="_onFocus" on-blur="_onBlur" on-keydown="_onDelete" autocapitalize$="[[autocapitalize]]" step$="[[step]]" max$="[[max]]" min$="[[min]]" readonly$="[[readonly]]">
        </iron-input>
        <span class="field__label" hidden$="[[_hidePlaceholder]]">[[t(label)]] <span hidden$="[[_asteriskCheck(required, hideAsterisk)]]">*</span></span>
      </label>

      <dom-if if="[[!_iconAction]]">
        <template>
          <div class$="icon secondary-icon decorative [[_iconVisible(_extraIconVisibility)]]" hidden$="[[!extraIcon]]">
            <iron-icon icon$="[[_extraIcon]]" style$="width: [[iconSize]]px; height: [[iconSize]]px;" aria-hidden="true">
            </iron-icon>
            <span class="icon__text">[[t(extraIconLabel)]]</span>
          </div>
        </template>
      </dom-if>
      <dom-if if="[[_iconAction]]">
        <template>
          <div class$="icon secondary-icon [[_iconVisible(_extraIconVisibility)]]" hidden$="[[!extraIcon]]">
            <cells-st-button class="transparent">
              <button type="button" on-tap="_extraIconTap" on-focus="_onFocus" on-blur="_onBlur">
                <iron-icon icon$="[[_extraIcon]]" style$="width: [[iconSize]]px; height: [[iconSize]]px;" aria-hidden="true">
                </iron-icon>
                <span class="icon__text">[[t(extraIconLabel)]]</span>
              </button>
            </cells-st-button>
          </div>
        </template>
      </dom-if>

      <dom-if if="[[!_extraIconAction]]">
        <template>
          <div class$="icon main-icon decorative [[_iconVisible(_iconVisibility)]]" hidden$="[[!icon]]">
            <iron-icon icon$="[[_icon]]" style$="width: [[iconSize]]px; height: [[iconSize]]px;" aria-hidden="true">
            </iron-icon>
            <span class="icon__text">[[t(iconLabel)]]</span>
          </div>
        </template>
      </dom-if>

      <dom-if if="[[_extraIconAction]]">
        <template>
          <div class$="icon main-icon [[_iconVisible(_iconVisibility)]]" hidden$="[[!icon]]">
            <cells-st-button class="transparent">
              <button type="button" on-tap="_iconTap" on-focus="_onFocus" on-blur="_onBlur">
                <iron-icon icon$="[[_icon]]" style$="width: [[iconSize]]px; height: [[iconSize]]px;" aria-hidden="true">
                </iron-icon>
                <span class="icon__text">[[t(iconLabel)]]</span>
              </button>
            </cells-st-button>
          </div>
        </template>
      </dom-if>

      <dom-if if="[[errorIcon]]">
        <template>
          <div class="icon error-icon" hidden$="[[!invalid]]">
            <iron-icon icon$="[[errorIcon]]" style$="width: [[iconSize]]px; height: [[iconSize]]px;" aria-hidden="true">
            </iron-icon>
          </div>
        </template>
      </dom-if>
    </div>

    <dom-if if="[[_showErrorMessage(invalid)]]">
      <template>
        <div class="error-message-wrapper">
          <iron-icon hidden$="[[!errorMessageIcon]]" icon$="[[errorMessageIcon]]" style$="width: [[iconSize]]px; height: [[iconSize]]px;" aria-hidden="true"></iron-icon>
          <iron-label for="input" class="error" hidden$="[[!errorMessage]]">
            [[t(errorMessage)]]
            <slot name="error-content"></slot>
          </iron-label>
        </div>
      </template>
    </dom-if>

  </template>

  <script src="cells-molecule-input.js"></script>
</dom-module>