<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer/lib/legacy/class.html">
<link rel="import" href="../cells-input-validations-behavior.html">

<script>
  class BehaviorTestComponent extends Polymer.mixinBehaviors([ CellsBehaviors.InputValidationsBehavior ], Polymer.Element) {
    static get is() {
      return 'behavior-test-component';
    }
  }

  window.customElements.define(BehaviorTestComponent.is, BehaviorTestComponent);
</script>
