<link rel="import" href="../../../components/polymer/polymer-element.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/cells-heading/cells-heading.html">
<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../../components/cells-input-validations-behavior/cells-input-validations-behavior.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-moment-import/cells-moment-import.html">
<link rel="import" href="../../../components/iron-icon/iron-icon.html">

<dom-module id="register-form">

  <template is="dom-bind" id="register">
    <style include="cells-credentials-form-styles cells-credentials-form-shared-styles">

    .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .register-form {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 5px;
      padding-top: 10px;
    }
    </style>
    <div class="register-form">
      <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>
      <form action="" on-submit="_doRegister" class="credentials-form" on-keypress="_onKeyPress" novalidate="">
        <div class="credentials-form__inputs">
          <cells-molecule-input id="input-first-name" value="{{firstName}}" type="[[inputUserOptions.inputType]]"
            bind-value="{{_getMasked(firstName, inputUserOptions.mask, inputUserOptions.maskEnabled)}}" label="Nombre"
            icon="[[clearIdIcon]]" icon-label="[[t('cells-credentials-form-user-id-clear-icon', labelUserIdClearIcon)]]"
            icon-size="[[iconsSize]]" auto-validate="[[inputUserOptions.autoValidate]]" input-status-validate="[[inputUserOptions.inputStatusValidate]]"
            custom-pattern="[[inputUserOptions.customPattern]]" allowed-value="[[_getPattern(inputUserOptions.allowedValue)]]"
            error-message="[[_getErrorMessages(inputUserOptions.errorMessage)]]" error-message-icon="[[inputUserOptions.errorMessageIcon]]"
            max-length="[[inputUserOptions.maxLength]]">
          </cells-molecule-input>

          <cells-molecule-input id="input-first-name" value="{{lastName}}" type="[[inputUserOptions.inputType]]"
            bind-value="{{_getMasked(lastName, inputUserOptions.mask, inputUserOptions.maskEnabled)}}" label="Apellidos"
            icon="[[clearIdIcon]]" icon-label="[[t('cells-credentials-form-user-id-clear-icon', labelUserIdClearIcon)]]"
            icon-size="[[iconsSize]]" auto-validate="[[inputUserOptions.autoValidate]]" input-status-validate="[[inputUserOptions.inputStatusValidate]]"
            custom-pattern="[[inputUserOptions.customPattern]]" allowed-value="[[_getPattern(inputUserOptions.allowedValue)]]"
            error-message="[[_getErrorMessages(inputUserOptions.errorMessage)]]" error-message-icon="[[inputUserOptions.errorMessageIcon]]"
            max-length="[[inputUserOptions.maxLength]]">
          </cells-molecule-input>

          <cells-molecule-input id="user-input-id" value="{{userId}}" type="[[inputUserOptions.inputType]]"
            bind-value="{{_getMasked(userId, inputUserOptions.mask, inputUserOptions.maskEnabled)}}" label="Email"
            icon="[[clearIdIcon]]" icon-label="[[t('cells-credentials-form-user-id-clear-icon', labelUserIdClearIcon)]]"
            icon-size="[[iconsSize]]" auto-validate="[[inputUserOptions.autoValidate]]" input-status-validate="[[inputUserOptions.inputStatusValidate]]"
            custom-pattern="[[inputUserOptions.customPattern]]" allowed-value="[[_getPattern(inputUserOptions.allowedValue)]]"
            error-message="[[_getErrorMessages(inputUserOptions.errorMessage)]]" error-message-icon="[[inputUserOptions.errorMessageIcon]]"
            max-length="[[inputUserOptions.maxLength]]">
          </cells-molecule-input>

          <cells-molecule-input id="user-input-pwd" value="{{userPassword}}" type="[[inputPasswordType]]" bind-value="{{_getMasked(userPassword, inputUserOptions.passwordMask, inputUserOptions.maskEnabled)}}"
            label="Password" icon="[[togglePwdIcon]]" icon-size="[[iconsSize]]"
            icon-toggled="[[togglePwdIconToggled]]" icon-label="[[t('cells-credentials-form-user-password-toggle-icon', passwordInputToggleIconLabel)]]"
            icon-visibility="[[inputUserOptions.iconVisibility]]" auto-validate="[[inputUserOptions.autoValidatePassword]]"
            extra-icon="[[clearPwdIcon]]" extra-icon-label="[[t('cells-credentials-form-user-password-clear-icon', passwordInputClearIconLabel)]]"
            input-status-validate="[[inputUserOptions.inputStatusValidate]]" allowed-value="[[_getPattern(inputUserOptions.allowedPasswordValue)]]"
            allowed-multiples-values="[[_getMultiplePattern(inputUserOptions.allowedPasswordValues)]]" error-message="[[_getMultipleErrorMessages(errorPasswordMessage)]]"
            error-message-icon="[[inputUserOptions.errorMessageIcon]]" autocapitalize$="[[autocapitalize]]" max-length="[[inputUserOptions.passwordMaxLength]]"
            backspace-pwd-full-delete="[[backspacePwdFullDelete]]">
          </cells-molecule-input>

          <cells-molecule-input id="user-input-pwd" value="{{_userPassword}}" type="[[inputPasswordType]]" bind-value="{{_getMasked(_userPassword, inputUserOptions.passwordMask, inputUserOptions.maskEnabled)}}"
            label="Repita password" icon="[[togglePwdIcon]]" icon-size="[[iconsSize]]"
            icon-toggled="[[togglePwdIconToggled]]" icon-label="[[t('cells-credentials-form-user-password-toggle-icon', passwordInputToggleIconLabel)]]"
            icon-visibility="[[inputUserOptions.iconVisibility]]" auto-validate="[[inputUserOptions.autoValidatePassword]]"
            extra-icon="[[clearPwdIcon]]" extra-icon-label="[[t('cells-credentials-form-user-password-clear-icon', passwordInputClearIconLabel)]]"
            input-status-validate="[[inputUserOptions.inputStatusValidate]]" allowed-value="[[_getPattern(inputUserOptions.allowedPasswordValue)]]"
            allowed-multiples-values="[[_getMultiplePattern(inputUserOptions.allowedPasswordValues)]]" error-message="[[_getMultipleErrorMessages(errorPasswordMessage)]]"
            error-message-icon="[[inputUserOptions.errorMessageIcon]]" autocapitalize$="[[autocapitalize]]" max-length="[[inputUserOptions.passwordMaxLength]]"
            backspace-pwd-full-delete="[[backspacePwdFullDelete]]">
          </cells-molecule-input>
        </div>

        <aside class="credentials-form__extra-actions">
          <div class="credentials-form__submit">
            <cells-st-button class="secondary">
              <button id="registerBtn" type="submit" disabled$="[[!_isSubmitEnabled]]">Registrate</button>
            </cells-st-button>
          </div>
        </aside>
      </form>
    </div>
  </template>

  <script>
    {
      class RegisterForm extends Polymer.mixinBehaviors([CellsBehaviors.i18nBehavior, CellsBehaviors.InputValidationsBehavior], Polymer.Element) {
        static get is() {
          return 'register-form';
        }

        static get properties() {
          return {
            /**
             * User first name
             */
            firstName: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * User last name
             */
            lastName: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * Invalid status of the form
             */
            invalid: {
              type: Boolean,
              reflectToAttribute: true,
              notify: true
            },
            /**
             * User identification
             */
            userId: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * User password, access key or similar
             */
            userPassword: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * Repeat password to validate
             */
            _userPassword: {
              type: String,
              notify: true,
              value: ''
            },
            /**
             * Size icons
             */
            iconsSize: {
              type: Number,
              value: 18
            },
            /**
             * Clear icon for user field
             */
            clearIdIcon: { type: String },
            /**
             * Clear icon for password field
             */
            clearPwdIcon: { type: String },
            /**
             * Toggle icon for password field
             */
            togglePwdIcon: { type: String },
            /**
             * Toggle icon for password field, toggled version
             */
            togglePwdIconToggled: { type: String },
            /**
             * Returns true if userId and userPassword are not null.
             */
            _isSubmitEnabled: {
              type: Boolean,
              computed: '_computeIsSubmitEnabled(firstName, lastName, userId, userPassword, _userPassword)'
            },
            /**
             * Translation key for user input
             */
            labelUserId: {
              type: String,
              value: 'Email'
            },
            /**
             * Translation key for user password
             */
            labelPassword: {
              type: String,
              value: 'Access key'
            },
            /**
             * Translation key for user password
             */
            labelUserIdClearIcon: {
              type: String,
              value: 'Clear field'
            },
            /**
             * Translation key for user password
             */
            labelPasswordToggleIcon: {
              type: String,
              value: 'Show/hide password'
            },
            /**
             * Translation key for user password
             */
            labelPasswordClearIcon: {
              type: String,
              value: 'Clear field'
            },
            /**
             * Translation key for button
             */
            labelRegister: {
              type: String,
              value: 'Registrar'
            },
            /**
             * Input password type
             */
            inputPasswordType: {
              type: String,
              value: 'password'
            },
            /**
             * input user login field validations
             */
            inputUserOptions: {
              type: Object,
              value: function() {
                return {
                  autoValidate: false,
                  autoValidatePassword: false,
                  inputStatusValidate: false,
                  autoMask: true,
                  inputType: '',
                  inputPasswordType: '',
                  allowedValue: '',
                  allowedPasswordValue: '',
                  errorMessage: '',
                  errorPasswordMessage: [],
                  errorMessageIcon: '',
                  mask: '',
                  passwordMask: '',
                  maxLength: '',
                  customPattern: '',
                  customPasswordPattern: ''
                };
              }
            },
            /**
             * Autocapitalize input
             */
            autocapitalize: {
              type: String,
              value: 'none'
            },
            /**
             * Motion to show of all the elements
             */
            animated: {
              type: Boolean,
              reflectToAttribute: true,
              value: true
            },
            /**
             * Allow complete value removal if backspace key is pressed and input type is password
             */
            backspacePwdFullDelete: {
              type: Boolean,
              value: false
            },
            error: {
              type: String,
              notify: true
            }
          };
        }

        static get observers() {
          return [
            '_clearInvalid(userId, userPassword)',
            '_invalidObserver(invalid)'
          ];
        }

        ready() {
          super.ready();
          this.addEventListener('user-auto-mask', this.autoMaskStatus.bind(this));
          this.addEventListener('cells-molecule-input-validate', this._onInputValidate.bind(this));
          this.addEventListener('validation-error-type', this._setErrorMessage.bind(this));
        }

        /**
         * Resets user to initial state.
         */
        resetUser() {
          this.userId = '';
          this._userId = '';
          this.userName = '';
          this.userAvatar = '';
          if (this.shadowRoot.querySelector('#user-input-id')) {
            this.shadowRoot.querySelector('#user-input-id').validate();
          }
        }
        /**
         * Resets password to initial state.
         */
        resetPassword() {
          this.userPassword = '';
          if (this.shadowRoot.querySelector('#user-input-pwd')) {
            this.shadowRoot.querySelector('#user-input-pwd').validate();
          }
        }
        /**
         * Resets component to initial state.
         */
        reset() {
          this.resetUser();
          this.resetPassword();
        }

        _onKeyPress(e) {
          if (e.keyCode === 13) {
            e.preventDefault();
            this.$.registerBtn.click();
          }
        }

        /*
           * Chage (enable and disable ) automask user input data
           */
        autoMaskStatus(autoMask) {
          if (autoMask && this.inputUserOptions) {
            var mask = !autoMask.detail ? this.inputUserOptions.maskEnabled = null : this.inputUserOptions.maskEnabled = this.inputUserOptions.mask;
            return mask;
          }
        }
        /**
         * Toggles invalid state on input fields
         * @param {String} newvalue
         */
        _invalidObserver(newvalue) {
          this.shadowRoot.querySelector('#user-input-id').invalid = newvalue;
          this.shadowRoot.querySelector('#user-input-pwd').invalid = newvalue;
        }
        /**
         * Change form invalid property when an input changes
         */
        _clearInvalid() {
          if (this.invalid) {
            this.invalid = false;
          }
        }
        /**
         * Returns true if user, password and documentType (only if it is required)
         * @param {String} userId
         * @param {String} userPwd
         * @return {Boolean}
         */
        _computeIsSubmitEnabled(firstName, lastName, userId, userPwd, _userPwd) {
          return !!(firstName && lastName && userId && userPwd && _userPwd);
        }
        /**
         * Action done when submitting the form.
         *
         * @param {Event} e
         */
        _doRegister(e) {
          e.preventDefault();
          if (this._checkIfSubmit()) {
            console.log('Disparado evento register');
            this.dispatchEvent(new CustomEvent('register-request', {
              bubbles: true,
              composed: true,
              detail: {
                first_name: this.firstName,
                last_name: this.lastName,
                email: this.userId,
                password: this.userPassword
              }
            }));
          }
        }
        /**
         * Checks if user/password fields are invalid before form submission
         *
         */
        _checkIfSubmit() {
          if (this.invalid !== undefined && this.invalid) {
            return false;
          } else {
            var userInvalid = false;
            if (!this.isLogged) {
              this.shadowRoot.querySelector('#user-input-id').validate();
              userInvalid = this.shadowRoot.querySelector('#user-input-id').invalid;
            }
            this.shadowRoot.querySelector('#user-input-pwd').validate();
            if (userInvalid || this.shadowRoot.querySelector('#user-input-pwd').invalid) {
              return false;
            }

            // Validamos que la password coincide
            if (!(this.userPassword === this._userPassword)) {
              var message = 'Los campos "Password" y "repita password" no coinciden';
              this.error = message;
              return false;
            }
          }
          return true;
        }

        onRequestError(err) {
          // Validamos que la password coincide
          if (err.mensaje) {
            this.error = err.mensaje;
          }
          console.log(err);
        }

        _onInputValidate(ev, validation) {
          if (!validation.valid) {
            var message;
            if (validation.value.length < this.inputUserOptions.min) {
              message = this.t('cells-credentials-form-min-characters-error-message');
            } else {
              message = this._getErrorMessages(this.inputUserOptions.errorMessage);
            }
            this.shadowRoot.querySelector('#' + ev.detail.id).set('errorMessage', message);
          }
        }

        /**
         * Set validation error message
         * @param {String} type
         */
        _setErrorMessage(type) {
          this.errorPasswordMessage = ((this.inputUserOptions || {}).errorPasswordMessage || {})[ type.detail ] || '';
        }
        /**
         * Focus on specific input
         * @param {String} input
         */
        focusInput(input) {
          this.shadowRoot.querySelector('#user-input-' + input).focus();
        }
      }

      window.customElements.define(RegisterForm.is, RegisterForm);
    }
  </script>
</dom-module>
