<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">

<dom-module id="operations-dm">

  <template>
    <brum-global-variable key="userToken" value="{{userToken}}"></brum-global-variable>

    <cells-generic-dp
      id="operationsDP"
      method="POST"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {

      class OperationsDM extends Polymer.Element {
        static get is() {
          return 'operations-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            userToken: {
              type: String,
              notify: true
            }
          };
        }

        _onRequestOk(evt) {
          this.dispatchEvent(new CustomEvent('operations-request-ok', evt));
        }

        _onRequestError(err) {
          console.log(err);
          this.dispatchEvent(new CustomEvent('operations-request-error', err));
        }

        doRequest(data, type = 'operations-request-start') {
          this.$.operationsDP.headers = {'x-access-token': this.userToken};
          this.$.operationsDP.host = window.AppConfig.backend;
          this.$.operationsDP.body = JSON.stringify(data);
          this.$.operationsDP.path = 'my-bank/v1/accounts/' + data.productId + '/movements';
          this.$.operationsDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }
      }

      // Register the custom element with the browser
      customElements.define(OperationsDM.is, OperationsDM);
    }
  </script>
</dom-module>
