<custom-style>
  <style>
    html {
      -webkit-tap-highlight-color: transparent;
    }

    body {
      margin: 0;
      padding: 20px;
      box-sizing: border-box;
    }

    html,
    body {
      height: 100%;
    }

    cells-credentials-form {
      --cells-credentials-form-fake-selector-label: {
        color: inherit;
      }

      --cells-credentials-form-fake-selector-placeholder: {
        color: inherit;
      }

      --cells-credentials-form-fake-selector-modal-icon: {
        color: inherit;
      }
    }
  </style>
</custom-style>