<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-heading/cells-heading.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-input-validations-behavior/cells-input-validations-behavior.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../cells-moment-import/cells-moment-import.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="cells-credentials-form-styles.html">

<dom-module id="cells-credentials-form">
  <template>
    <style include="cells-credentials-form-styles cells-credentials-form-shared-styles"></style>

    <form action="" on-submit="_doCredentialsUserPwd" class="credentials-form" on-keypress="_onKeyPress" novalidate="">

      <dom-if if="[[userName]]">
        <template>
          <dom-if if="[[!lite]]">
            <template>
              <div class="credentials-form__user">
                <dom-if if="[[userAvatar]]">
                  <template>
                    <img class="credentials-form__user__image" src$="[[userAvatar]]" alt="">
                  </template>
                </dom-if>
                <cells-heading level="[[headingLevel]]">
                  <span class="credentials-form__user__greeting">[[t('cells-credentials-form-greeting',
                    labelGreeting)]]</span>
                  <span class="credentials-form__user__name">[[userName]]</span>
                </cells-heading>
              </div>

              <div class="credentials-form__change-user">
                <cells-st-button class="transparent">
                  <button on-tap="_changeUser" type="button">[[t('cells-credentials-form-change-user', labelLogout)]]</button>
                </cells-st-button>
              </div>
            </template>
          </dom-if>

          <dom-if if="[[lite]]">
            <template>
              <div class="credentials-form__user">
                <span class="credentials-form__user__name">[[t(greetingKey)]]</span>
              </div>
            </template>
          </dom-if>
        </template>
      </dom-if>


      <div class="credentials-form__inputs">
        <dom-if if="[[!userName]]">
          <template>
            <dom-if if="[[documentType]]">
              <template>
                <button id="documentTypeSelector" class="fake-selector" on-tap="_openDocumentTypeSelector" type="button">
                  <div class="header-texts">
                    <span id="label" class="label selected">[[t('cells-credentials-form-user-document-type')]]</span>
                    <span class="placeholder">[[t(documentType.name)]]</span>
                  </div>
                  <iron-icon icon="coronita:unfold" class="modal-icon"></iron-icon>
                </button>
              </template>
            </dom-if>

            <cells-molecule-input id="user-input-id" value="{{_userId}}" type="[[inputUserOptions.inputType]]"
              bind-value="{{_getMasked(_userId, inputUserOptions.mask, inputUserOptions.maskEnabled)}}" label="[[t('cells-credentials-form-user-id', labelUserId)]]"
              icon="[[clearIdIcon]]" icon-label="[[t('cells-credentials-form-user-id-clear-icon', labelUserIdClearIcon)]]"
              icon-size="[[iconsSize]]" auto-validate="[[inputUserOptions.autoValidate]]" input-status-validate="[[inputUserOptions.inputStatusValidate]]"
              custom-pattern="[[inputUserOptions.customPattern]]" allowed-value="[[_getPattern(inputUserOptions.allowedValue)]]"
              error-message="[[_getErrorMessages(inputUserOptions.errorMessage)]]" error-message-icon="[[inputUserOptions.errorMessageIcon]]"
              max-length="[[inputUserOptions.maxLength]]">
            </cells-molecule-input>
          </template>
        </dom-if>

        <cells-molecule-input id="user-input-pwd" value="{{userPassword}}" type="[[inputPasswordType]]" bind-value="{{_getMasked(userPassword, inputUserOptions.passwordMask, inputUserOptions.maskEnabled)}}"
          label="[[t('cells-credentials-form-user-password', labelPassword)]]" icon="[[togglePwdIcon]]" icon-size="[[iconsSize]]"
          icon-toggled="[[togglePwdIconToggled]]" icon-label="[[t('cells-credentials-form-user-password-toggle-icon', passwordInputToggleIconLabel)]]"
          icon-visibility="[[inputUserOptions.iconVisibility]]" auto-validate="[[inputUserOptions.autoValidatePassword]]"
          extra-icon="[[clearPwdIcon]]" extra-icon-label="[[t('cells-credentials-form-user-password-clear-icon', passwordInputClearIconLabel)]]"
          input-status-validate="[[inputUserOptions.inputStatusValidate]]" allowed-value="[[_getPattern(inputUserOptions.allowedPasswordValue)]]"
          allowed-multiples-values="[[_getMultiplePattern(inputUserOptions.allowedPasswordValues)]]" error-message="[[_getMultipleErrorMessages(errorPasswordMessage)]]"
          error-message-icon="[[inputUserOptions.errorMessageIcon]]" autocapitalize$="[[autocapitalize]]" max-length="[[inputUserOptions.passwordMaxLength]]"
          backspace-pwd-full-delete="[[backspacePwdFullDelete]]">
        </cells-molecule-input>
      </div>

      <aside class="credentials-form__extra-actions">
        <div class="credentials-form__submit">
          <cells-st-button class="secondary">
            <button id="loginBtn" type="submit" disabled$="[[!_isSubmitEnabled]]">[[t('cells-credentials-form-button-login',
              labelLogin)]]</button>
          </cells-st-button>
        </div>
        <p class="credentials-form__forgotten-pwd">
          <cells-st-button class="transparent">
            <button on-tap="_onForgetPwd" type="button">{{t('cells-credentials-form-forgotten-pwd',
              labelForgetPassword)}}</button>
          </cells-st-button>
        </p>
        <dom-if if="[[register]]">
          <template>
            <p class="credentials-form__register">
              <span hidden$="[[!showRegisterInfo]]"> {{t('cells-credentials-form-new-user', labelNewUser)}} </span>
              <cells-st-button class="transparent">
                <button on-tap="_doRegister" type="button">{{t('cells-credentials-form-register', labelRegister)}}</button>
              </cells-st-button>
            </p>
          </template>
        </dom-if>
      </aside>
    </form>
  </template>
  <script src="cells-credentials-form.js"></script>
</dom-module>