<link rel="import" href="../../../components/cells-product-item-list/cells-product-item-list.html">
<link rel="import" href="../../../components/cells-icon-message/cells-icon-message.html">

<dom-module id="accounts-view">
  <template is="dom-bind" id="accounts">
    <template is="dom-if" if="[[emptyMsg]]">
      <style>
      .center {
        text-align: center;
      }
      </style>
        <cells-icon-message  icon="coronita:info" icon-label="Información" icon-size="26" message="[[emptyMsg]]"></cells-icon-message>
        <div class="center">
          <cells-st-button class="secondary">
            <button id="registerBtn" on-click="_onButtonClick" data-event="operations-button">Contratar cuenta</button>
          </cells-st-button>
        </div>
    </template>
    <template is="dom-if" if="[[!emptyMsg]]">
      <div class="nav nav-right">
        <button class$="btn btn-right btn-transparent" on-click="_onButtonClick" data-event="cancel-account-button">
          <iron-icon icon="coronita:account" class="icon-right" aria-label$="[[t(_iconLeftLabel)]]" style$="[[_iconStyle]]"></iron-icon>
          <span>
            Contratar cuenta
          </span>
        </button>
      </div>
    </template>
    <cells-product-item-list id="accountslist" items="[[accounts]]" balance="[[balance]]" loading></cells-product-item-list>
  </template>

  <script>
    {
      class AccountsView extends Polymer.Element {
        static get is() {
          return 'accounts-view';
        }

        static get properties() {
          return {
            accounts: {
              type: Object
            },
            balance: {
              type: Object
            },
            emptyMsg: {
              type: String
            }
          };
        }

        _onButtonClick(e) {
          this.dispatchEvent(new Event('new-account-request'));
        }

        onRequestOk(data) {
          this.accounts = [];
          this.balance = {};
          if (!data) {
            this.emptyMsg = 'No tienes ninguna cuenta contratada. No pierdas tiempo y contratala ya!';
          } else {
            this.emptyMsg = null;
            for (var i = 0; i < data.length; i++) {
              var newAccount = {
                'description': {
                  'value': data[i].iban,
                  'masked': true
                },
                'id': data[i].id,
                'name': 'Cuenta personal ' + i,
                'primaryAmount': {
                  'amount': data[i].balance,
                  'currency': 'EUR',
                  'label': 'Disponible'
                },
                'scale': 0,
                'status': {
                  'id': 'ACTIVATED',
                  'description': 'ACTIVATED'
                }
              };
              this.accounts.push(newAccount);
            }
          }
          this.$.accountslist.loading = false;
        }
      }
      customElements.define(AccountsView.is, AccountsView);
    }
  </script>
</dom-module>
