<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="./cells-molecule-spinner-veil-styles.html">

<!--
`<cells-molecule-spinner-veil>` displays a full screen veil over contents below it with a customizable spinner.
A custom spinner element can be provided in light DOM by using the slot `spinner`.

Example with custom spinner:

```html
<cells-molecule-spinner-veil>
  <my-custom-spinner slot="spinner"></my-custom-spinner>
</cells-molecule-spinner-veil>
```

## Opening and closing

The veil can be shown using the boolean attribute `open` or programmatically using its `show()` and `hide()` methods.

## Styling

### Solid background

Use the class `solid` to display a solid background.

```html
<cells-molecule-spinner-veil class="solid">
</cells-molecule-spinner-veil>
```

### Fade effect

Use the class `fade` to show/hide the veil with a fade in/out effect.

```html
<cells-molecule-spinner-veil class="fade">
</cells-molecule-spinner-veil>
```

The following custom properties and mixins are available for styling:

| Custom Property | Description | Default |
| :-------------- | :---------- | :------ |
| --cells-molecule-spinner-veil-background-color | veil background color | rgba(255, 255, 255, .8) |
| --cells-molecule-spinner-veil | empty mixin for :host | {} |
| --cells-molecule-spinner-veil-is-visible | empty mixin for :host(.is-visible) | {} |
| --cells-molecule-spinner-veil-fade | empty mixin applied to :host(.fade) | {} |
| --cells-molecule-spinner-veil-fade-visible | empty mixin applied to :host(.fade) when it's visible  | {} |
| --cells-molecule-spinner-veil-main | empty mixin for .spinner | {} |
| --cells-molecule-spinner-veil-ball | empty mixin for .spinner .ball | {} |
| --cells-molecule-spinner-veil-ball-dark | empty mixin for .spinner .ball.dark | {} |
| --cells-molecule-spinner-veil-ball-light | empty mixin for .spinner .ball.light | {} |

@demo demo/index.html
@hero cells-molecule-spinner-veil.png
-->
<dom-module id="cells-molecule-spinner-veil">
  <template>
    <style include="cells-molecule-spinner-veil-styles cells-molecule-spinner-veil-shared-styles"></style>
    <div class="spinner">
      <slot name="spinner">
        <span class="ball dark"></span>
        <span class="ball light"></span>
      </slot>
    </div>

    <slot></slot>
  </template>
  <script src="cells-molecule-spinner-veil.js"></script>
</dom-module>
