<link rel="import" href="../../../components/cells-select/cells-select.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">

<dom-module id="operations-view">
  <template is="dom-bind">
    <style>
      cells-select {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
      }

      cells-molecule-input {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
      }

      cells-st-button {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
        align: center;
      }
      .center {
        text-align: center;
      }
    </style>
    <cells-select id="combo" value="{{label}}" options="{{options}}" label="Tipo de operación" right-icon="coronita:unfold" placeholder="Selecciona un tipo"></cells-select>
    <cells-molecule-input id="input-amount" value="{{amount}}" label="Cantidad"></cells-molecule-input>
    <cells-molecule-input id="input-description" value="{{description}}" label="Concepto"></cells-molecule-input>
    <div class="center">
      <cells-st-button class="secondary">
        <button on-click="_onButtonClick">Realizar Operación</button>
      </cells-st-button>
    </div>
 </template>

  <script>
    {
      class OperationsView extends Polymer.Element {
        static get is() {
          return 'operations-view';
        }

        static get properties() {
          return {
            label: {
              type: String,
              notify: true
            },
            amount: {
              type: Number,
              notify: true
            },
            description: {
              type: String,
              notify: true
            },
            accountId: {
              type: String,
              notify: true
            },
            options: {
              type: Array,
              value: [{label: 'Ingreso', value: 'INGRESO'}, {label: 'Retirada', value: 'RETIRADA'}]
            }
          };
        }

        onOperation(data) {
          this.accountId = data;
          this.label = null;
          this.amount = null;
          this.description = null;
        }

        _onButtonClick(e) {
          console.log('aqui llamamos al servidor por fin');
          var movement = {
            productId: this.accountId,
            type: this.label,
            amount: this.amount,
            description: this.description
          };
          this.dispatchEvent(new CustomEvent('operation-request', {
            detail: movement
          }));
        }

      }
      customElements.define(OperationsView.is, OperationsView);
    }
  </script>
</dom-module>
