<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">

<dom-module id="register-dm">

  <template>
    <iron-localstorage id="localStorage" name="userToken"
    value="{{userToken}}"></iron-localstorage>
    <brum-global-variable key="userToken" value="{{userToken}}"></brum-global-variable>

    <cells-generic-dp
      id="registerDP"
      host="http://localhost:3000"
      path="my-bank/v1/register"
      method="POST"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      class RegisterDM extends Polymer.Element {
        static get is() {
          return 'register-dm';
        }

        static get properties() {
          return {
            userToken: {
              type: String,
              notify: true
            }
          };
        }

        _onRequestOk(res) {
          this.userToken = res.detail.token;
          this.dispatchEvent(new Event('register-request-ok'));
        }

        _onRequestError(err) {
          console.log(err);
          this.dispatchEvent(new CustomEvent('register-request-error', err));
        }

        doRegister(data, type = 'register-request-start') {
          console.log('haciendo la request del registro');
          this.$.registerDP.body = data;
          this.$.registerDP.host = window.AppConfig.backend;
          this.$.registerDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }
      }

      // Register the custom element with the browser
      customElements.define(RegisterDM.is, RegisterDM);
    }
  </script>
</dom-module>
