<custom-style>
  <style is="custom-style">
    body {
      margin: 0;
      font-family: sans-serif;
    }

    .demo-content {
      text-align: center;
      padding: 20px;
    }

    .btn {
      background-color: var(--bbva-white-core-blue, #1464A5);
      color: #fff;
      border: 0;
      height: 40px;
      padding: 0 20px;
      font: inherit;
      font-size: 14px;
      position: absolute;
      z-index: 1000;
      margin: 12px;
    }
  </style>
</custom-style>
