<link rel="import" href="../../../components/cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">

<dom-module id="login-form">

  <template is="dom-bind" id="login-view">
    <style>
      cells-credentials-form {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
      }
      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          margin-left: 20px;
          margin-right: 20px;
      }
    </style>

    <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
    </template>
    <cells-credentials-form id="credentials" animated register clear-id-icon="coronita:close"
      clear-pwd-icon="coronita:close" toggle-pwd-icon="coronita:visualize"
      toggle-pwd-icon-toggled="coronita:hide" user-name="{{userName}}" user-avatar="{{avatar}}">
    </cells-credentials-form>

  </template>

  <script>
    {
      class LoginForm extends Polymer.Element {
        static get is() {
          return 'login-form';
        }

        static get properties() {
          return {
            email: {
              type: String,
              notify: true,
              observer: '_onEmailChanged'
            },
            password: {
              type: String
            },
            error: {
              type: String
            },
            userName: {
              type: String,
              notify: true
            },
            avatar: {
              type: String
            }
          };
        }

        onRequestError(err) {
          console.log('Request KO en el login!!');
          this.error = err.mensaje;
        }

        onRequestOK(evt) {
          this.userName = evt.first_name;
          this.email = evt.email;
          this.error = null;
        }

        reset() {
          this.$.credentials.resetPassword();
          this.error = null;
        }

        resetUser() {
          this.$.credentials.resetUser();
          this.error = null;
        }

        saveUSer(data) {
          this.email = data.userId;
          this.error = null;
        }

        _onEmailChanged() {

          this.avatar =  'https://api.adorable.io/avatars/160/' + this.email;
          console.log(this.avatar);
        }
      }
      customElements.define(LoginForm.is, LoginForm);
    }
  </script>
</dom-module>
